.card {
 font-family: comfortaa;
 font-size: 20px;
 color: #2c3143;
 background-color: #eef0f4;
}

.word {
 padding: 15px;
 border-radius: .75rem;
 color: #037889;
 background-color: #fff;
}

.context {
 padding: 25px;
 border-radius: .75rem;
 background-color: #fff;
}

@font-face {
  font-family: comfortaa;
  src: url("_comfortaa.ttf");
}